{
    "extends": [
        "plugin:@litert/rules/typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@litert/rules"
    ],
    "rules": {}
}